
  <!-- <app-joke-form (jokeCreated)="addJoke($event)"></app-joke-form> -->
  <div class="row">
      <div class="col">
        <button type="button" 
                class="btn btn-success"
                (click)="addJoke()">Add Joke
        </button>
 
        <button type="button" 
                class="btn btn-danger"
                (click)="deleteJoke()">Clear Jokes
        </button>
      </div>
  </div>

  <!-- Part of the JokeListComponent -->
  <h4>View Jokes</h4>
  <app-joke *ngFor="let j of jokes" [joke]="j">
    <span class="setup">{{j.setup}}?</span>                         <!-- Preparing the content for Content Projection -->
    <h2 class="punchline">{{j.punchline}}</h2>                      <!-- Preparing the content for Content Projection -->
  </app-joke>

  <!-- Projected content of the AppComponent -->
  <h4>Content Jokes</h4>
  <ng-content></ng-content>

  

